/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 200px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover, a:focus {
	color: #000;
	text-decoration: underline;
}

.label {
  border-radius: 0;
}

.btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-radius: 0;
}

.phones-ads {
  width: 100%;
  max-width: 740px;
}

.form-control {
  border-radius: 0;
} 

.form-group {
  margin-bottom: 10px;
}

.input-group .form-control {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn {
  border-radius: 0;
}

.alert {
 border-radius: 0; 
 margin-bottom: 10px;
}

.form-signin .form-control {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin label {
  margin-left: 20px;
}

.form-signin p {
  margin-bottom: 0;
}

.form-address .form-control {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-address p {
  margin-bottom: 0;
}

.form-profile .form-control {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-profile p {
  margin-bottom: 0;
}

.list-group-item:first-child {
  border-top-left-radius: 0px; 
  border-top-right-radius: 0px; 
}

.list-group-item:last-child {
  border-bottom-right-radius: 0px; 
  border-bottom-left-radius: 0px; 
}

.paginate{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.paginateButtons{
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*.prevLink {
  font-size: 0%;
}*/

.currentStep {
	padding: 4px;
	font-size: 120%;
}

.step {
	padding: 4px;
	font-size: 100%;
}

/*.nextLink {
  font-size: 200%;
  margin-top: 20px;
  display:block;
}*/

/*.footer {
  background-color: #e7e7e7;
}

.footer hr{
  border-top: 1px solid #C3C3C3;
}*/

.posted-photo {
    width:100%;
    height:100%;
}

.posted-photo-small{
    width: 75px;
    height:50px;
}

.card-photo{
    width:100%;
    height:100%;
}
.card-photo-post{
    border: 1px solid #cccccc;
    width:100%;
    height:100%;
}
.card-photo-main{
    width:100%;
    height:67.5%;
}

.main-appstore {
  width:100px;
}

@media (min-width: 992px){
  .main-appstore {
    width:180px;
  }
  .thumbnail .card-photo{
    width:450px;
    height:304px;
  }
  .card-photo{
    width:450px;
    height:304px;
  }
  .card-photo-post{
    border: 1px solid #cccccc;
    width:450px;
    height:304px;
  }
}

@media (min-width: 1200px){
  .main-appstore {
    width:180px;
  }
  .thumbnail .card-photo{
    width:530px;
    height:358px;
  }
  .card-photo{
    width:530px;
    height:358px;
  }
  .card-photo-post{
    border: 1px solid #cccccc;
    width:530px;
    height:358px;
  }
}

.panel-group .panel {
  margin-bottom: 0;
  border-radius: 0px;
}

.panel-heading {
 padding: 5px 5px; 
}

.table {
  margin-bottom: 0; 
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
 padding: 0; 
 border-top: 0px solid #ddd; 
}

.thumbnail {
  border-radius: 0px;
}

.mCSB_outside+.mCSB_scrollTools{
  right: -15px;
}

.panel {
 border-radius: 0; 
}

.modal-content {
 border-radius: 3px; 
}